<div class="container">
  <div class="page-header text-center">
    {{#link-to 'index'}}
      <h1><small>Buy now </small>OR CRY LATER</h1>
    {{/link-to}}
  </div>
  <div class="row">
    {{outlet}}
  </div>
</div>